<form [formGroup]="profileForm">
  <!-- <input type="text" class="form-control" id="name"
    formControlName="url">    -->
  <h1>
    TILTS for

    <a  routerLink="/tilt/public/{{ profileForm.value.url }}">{{
      profileForm.value.url
    }}</a>
  </h1>

  <ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div class="cal-cell-top">
      
      <small style="margin: 5px" *ngIf="day.events?.length > 0"  title="{{day.events[0].title}}" >      
        <mat-icon aria-hidden="false" aria-label="" *ngIf="!(day.events[0].meta.existsPrev && day.events[0].meta.existsNext)">event_available</mat-icon>

        <mat-icon aria-hidden="false" aria-label="" *ngIf="day.events[0].meta.existsPrev && day.events[0].meta.existsNext">waving_hand</mat-icon>

        {{  (day.events[0].title | slice:0:12)+'..'   }} </small>
        <span class="cal-day-number"
        >
        <mat-icon aria-hidden="false" aria-label="" *ngIf="!(day.badgeTotal > 0) && !day.isFuture">mood_bad</mat-icon>
        {{ day.date | calendarDate:'monthViewDayNumber':locale }}</span
      >
    </div>
  </ng-template>


  <mwl-calendar-month-view
    [viewDate]="viewDate"
    [activeDayIsOpen]="activeDayIsOpen"
    [events]="events"
    [refresh]="refresh"
    [cellTemplate]="customCellTemplate"
    (dayClicked)="dayClicked($event.day)"
  ></mwl-calendar-month-view>


  <div *ngFor="let item of tiltsFormArray.controls; let i = index">
    {{tiltsFormArray.controls.length - i }}  <app-display-tilt [tilt]="item.value"></app-display-tilt>
     <hr />
     <!-- {{item.value | json}} -->
   </div>
 
 
</form>
