<h1>My TILTS</h1>

<h2 *ngIf="profileForm.value.hasTodayTilt">
  Posted today TILT ( next one
  {{ this.profileForm.value.nextTiltSecondsString }}
  )
</h2>

<h2 *ngIf="!profileForm.value.hasTodayTilt">Please add TILT for today</h2>

<form [formGroup]="profileForm" *ngIf="!profileForm.value.hasTodayTilt">
  <div formGroupName="nextTilt">
    <!-- <label for="name">TILT</label> -->
    <input id="name" type="text" formControlName="text" />

    <button type="button" [disabled]="!profileForm.valid" (click)="saveTILT()">
      SAVE TILT
    </button>
  </div>
</form>

<div>
  Last TILT:
  <app-display-tilt [tilt]="this.profileForm.value.lastTilt"></app-display-tilt>
</div>
