<h1>My TILTS   
<!-- {{profileForm.value.hasTodayTilt}} -->
<!-- {{profileForm.controls["hasTodayTilt"].value}} -->
</h1>
<form [formGroup]="profileForm" >

<h2 [hidden]="!profileForm.value.hasTodayTilt">
  Posted today TILT ( next one
  {{ this.profileForm.value.nextTiltSecondsString }}
  )
</h2>

<h2 [hidden]="profileForm.value.hasTodayTilt">Please add TILT for today</h2>

  <div formGroupName="nextTilt" [hidden]="profileForm.value.hasTodayTilt">
    <!-- <label for="name">TILT</label> -->
    <textarea id="name" type="text" formControlName="text" ></textarea>

    <button type="button" [disabled]="!profileForm.valid" (click)="saveTILT()">
      SAVE TILT
    </button>
  </div>
</form>

<div>
  Last TILT:
  <app-display-tilt [tilt]="this.profileForm.value.lastTilt"></app-display-tilt>
<div>
URL : 
<a  routerLink="/tilt/public/{{this.profileForm.value.mainUrl}}">
  {{this.profileForm.value.mainUrl}}  
</a>
</div>
</div>
