<ion-content>

  <app-main-menu></app-main-menu>

  <ion-toolbar>
    <ion-title>Public TILTS</ion-title>
  </ion-toolbar>

  <span *ngFor="let publicTilt of allPublicTilts">
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://images.pexels.com/photos/1933873/pexels-photo-1933873.jpeg" />
      </ion-avatar>
      <ion-label>
        <h2>@{{ publicTilt.url }}'s latest TILT:</h2>
        
        <div *ngFor="let latestTilt of publicTilt.arrayOfTilts">
          <h2>{{ latestTilt.text }}</h2>
          <p>{{ latestTilt.forDate }}</p>
          <p><ion-icon name="heart-outline">1.6M</ion-icon> 1.6M</p>
          <p><ion-icon name="share-social-outline"></ion-icon> 2K</p>
          
        </div>
      </ion-label>
    </ion-item>
  </span>

</ion-content>
