<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item  routerLink="/tilt/public/">Public Tilts</a>
      <a mat-list-item  routerLink="/tilt/my">My Tilts</a>  
      <a mat-list-item  routerLink="about">About</a>  
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><span style="color: red">TILT</span><sup>( <i style="color: red">T</i>hing &nbsp; <i style="color: red">I</i>&nbsp;<i style="color: red">L</i>earnt &nbsp;<i style="color: red">T</i>oday)
      </sup>
    
    </span>
    
      <button mat-raised-button color="primary"  (click)="showTutorial()">Show Tutorial</button> &nbsp;
      <button mat-raised-button  color="accent" class="publicUrls"  routerLink="/tilt/public/">Public TILTS</button>&nbsp;
      <button mat-raised-button  color="warn" class="myTilts" routerLink="/tilt/my">My TILTS</button>

      <button mat-raised-button  color="primary" class="about" routerLink="/about">About</button>
      <button mat-button [matMenuTriggerFor]="menu" *ngIf="false">Help</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="showTutorial()">Show Tutorial</button>
        <a mat-menu-item routerLink="/tilt/public/">Public TILTS</a>
        <a mat-menu-item routerLink="/tilt/my">My TILTS</a>
        <a mat-menu-item routerLink="/about">About</a>
    
      </mat-menu>
    </mat-toolbar>
    
    <router-outlet></router-outlet>
    <footer><small>
      
      <a *ngIf="ams?.isInCI"  target="_blank" href="{{ams?.sourceCommit}}">Repo: {{ams?.repoUrl}}</a><br /> 
      Made by {{ams?.authors}} on {{ams?.TheDate}} <br /> 
      Automation : <a href="/swagger">Swagger</a> | <a href="/BlocklyAutomation">BlocklyAutomation</a>

    </small></footer>
  </mat-sidenav-content>
</mat-sidenav-container>
